@import url('https://fonts.googleapis.com/css2?family=Anton&family=Madimi+One&display=swap');

$font-body: "Madimi One", "sans-serif";
$font-display: "Anton", "helvetica";

$color-primary: #2c4052;
$color-primary-light: #72bbff;
$color-secondary: #ebdec1;
$color-black: #333333;
$color-white: #fafafa;




