@import url('https://fonts.googleapis.com/css2?family=Anton&family=Madimi+One&display=swap');

$font-heading: "Madimi One", "sans-serif";
$font-nav: "Anton", "helvetica";
$font-body: "Roboto";

$color-primary: #2c4052;
$color-primary-light: #72bbff;
$color-secondary: #ebdec1;
$color-black: #333333;
$color-white: #fafafa;

*{
    margin: 0;
    padding: 0 ;
    box-sizing:border-box;
    font-family: $font-body;
    color: $color-black;
    align-items: center;
    
}

a:link,
a:visited{
    text-decoration: none;
}
.navigation{
    height: 10vh;
    width: auto;
    padding: 0 40px;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;

}

.logo{
    color: $color-primary;
    font-size: 50px;
    font-family: $font-nav;
    

}

.button{
    display: block;
    width: 100px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    color: $color-white;
    border: 2px solid;
    border-color: $color-primary;
    align-items: right;

}

.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    
    .intro{
        text-align: center;

        .heading{
            color:$color-primary-light;
            font-size: 50px;
            font-family: $font-heading;
        
        }

        .sub-heading{
            font-family: $font-body;
            color: $color-primary;
            font-size: 30px;
            height: 10vh;
            
        }

        .sub-heading-2{
            font-size: 20px;
            color: $color-primary-light;
            font-family: $font-body;
          

        }

        .description{
            font-size: 15px;
            color: $color-black;
            font-family: $font-body;
            height: 20vh;
        }
    }
    .button{
        margin: 0 auto;
        display: block;
    width: 100px;
    background-color: $color-primary;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    color: $color-white;
    height: 10vh;
    }


}

.main{
    height: 80vh;
   
    .heading{
        font-family: $font-body;
        color:$color-primary;
        font-size: 20px;
        text-align: center;
    }
    .card{
        width: auto;
        height: 10vh;
        text-align: left;
        padding:20px;
        background-color:$color-white;
        color: $color-black;

    }
    .p{
        text-align: right;
    }
}

    .button{
        margin: 0 auto;
        display: block;
    width: 100px;
    background-color: $color-primary;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    color: $color-white;

    }
   
   

.footer{
    height: 20vh;
    padding: 0 40px;
    background-color: $color-secondary;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    .contacts{
        height: 5vh;

    }
    .terms{
        height: 5vh;
    }

    .privacy{
        height: 5vh;
    }

}




