@import url('https://fonts.googleapis.com/css2?family=Anton&family=Madimi+One&display=swap');

$font-heading: "Madimi One", "sans-serif";
$font-nav: "Anton", "helvetica";
$font-body: "Roboto";

$color-primary: #2c4052;
$color-primary-light: #72bbff;
$color-secondary: #fdedca;
$color-black: #333333;
$color-white: #fafafa;

*{
    margin:0 ;
    padding: 0 ;
    font-family: $font-body;
    
}

a:link,
a:visited{
    text-decoration: none;
}

body{
    align-items: center;
    text-align: center;
}
    

 .navigation{ 
    width: 100vh;
 .logo{
    
    color: $color-primary;
    font-size: 100px;
    font-family: $font-nav; 
    
 }

 .button{ 
    display: block;
 text-align: center;
 float: right;
  width: 30px;
  height: 10px;
  font-style: $color-primary;
   padding: 10px 20px;
    border-radius: 10px;
    color: $color-primary;
    border: 2px solid;
    border-color: $color-primary;
    
 }
 }



.header{
   width: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    
   
    .intro{
   
        .heading{
         
            color:$color-primary-light;
            font-size: 50px;
            font-family: $font-heading;
            
        
        }

        .sub-heading{
            
            font-family: $font-body;
            color: $color-primary;
            font-size: 30px;
           
            
        }

        .sub-heading-2{
            height: 10vh;
            font-size: 20px;
            color: $color-primary-light;
            font-family: $font-body;
          

        }

        .description{
            font-size: 15px;
            color: $color-black;
            font-family: $font-body;

           
        }
    
     .button{

     margin: 10px auto;
     display: block;
     width: 150px;
     background-color: $color-primary;
     padding: 10px 20px;
     text-align: center;
     border-radius: 10px;
     color: $color-white;
     
   
     }
  }

}

.main{
    width: 100vh;
    height: 1400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    align-items: center;
       
    .heading{
       
        font-family: $font-body;
        color:$color-primary;
        font-size: 20px;
        text-align: center;
        
    }
    
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vh;
        height: 30vh;
        padding: 20px;
        background-color:$color-white;
        color: $color-black;
        border: 2px solid;
        border-color: black;

      }

      .card img{
        height: 250px;
      }
     
    

    .button{
        margin: 0 auto;
        display: block;
    width: 100px;
    background-color: $color-primary;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    color: $color-white;

    }


}
.footer{
    width: 100vh;
    height: 15vh;
    padding: 20px 40px;
    background-color: $color-secondary;
    text-align: center;
    align-items: center;
    

    .contacts{
        height: 5vh;

    }
    .terms{
        height: 5vh;
    }

    .privacy{
        height: 5vh;
    }
}








